<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cultural galleria</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<style>
  .images{
    height:200px;
    object-fit:cover;
  }
</style>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light mb-5 fixed-top">
    <!-- conatainer -->
    <div class="container">
      <a
        href="{% url 'home'%}"
        class="navbar-brand"
        style="font-size: 4vh; font-family: 'Grand Hotel', cursive; color: black"
        >Galería</a
      >
  
      <!-- navbar toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
        style="color: black"
      >
        <span class="navbar-toggler-icon dark"></span>
      </button>
  
      <!-- main div  -->
      <div class="collapse navbar-collapse" id="navmenu">
        <div class="collapse navbar-collapse" id="navmenu">
          <!-- dropdown menu filter by category -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: black"
              >
                Filter by Category
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'home'%}">All</a>
                </li>
  
                {%for category in categories %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{%url 'home' %}?category={{category.name}}"
                  >
                    {{category.name}}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
  
          <!-- dropdown menu filter by location -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: black"
              >
                Filter by location
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'home'%}">All</a>
                </li>
  
                {%for location in locations %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'home' %}?location={{location.name}}"
                  >
                    {{location.name}}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
  
  <!-- adding a photo -->
       <a href="{% url 'add'%}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
        <nav class="navbar bg-light">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </nav><br>
  <br> <br>
  <div class="container">
    <div class="col-md-9">
    <div class="row">
      {% for image in images %}
      <div class="col-md-4">
        <div class="card">
    <img class="images"  src="{{image.image.url}}"  alt="" style="height:10%; width:100%;">
    <div class="card-body">
      
      <small>Category: {{image.category.name}}</small>
      <small>Location: {{image.location.name}}</small>
    </div>
    <a href="{% url 'galley' image.id %}" class="btn btn-outline-dark btn-sm-m-1">View</a>
  </div>
  </div>
  {% empty %}
  <h3>i'm sorry no photos available</h3>
  {% endfor %}
    </div>
    </div>
      </div>
</body>
<br> <br>
<style>
    .card-footer h2{
    text-align: center;
    margin-top: 2vh;
    font-family: 'Grand Hotel', cursive;
    font-size:5vh;
    }
    .card-footer p{
        text-align: center;
        font-size: xx-small;
    }
</style>
<div class="card-footer text-muted">
  <h2>Cultural Galleria</h2>
  <p>Copyrights 2022</p>
</div>
</html>
