<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cultural galleria</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<style>
  .images{
    height:200px;
    object-fit:cover;
  }
</style>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Cultural galleria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter by the tribe
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Maasai</a></li>
              <li><a class="dropdown-item" href="#">Kikuyu</a></li>
              <li><a class="dropdown-item" href="#">Luo</a></li>
            </ul>
           
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter by the food
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Githeri</a></li>
              <li><a class="dropdown-item" href="#">Samaki</a></li>
              <li><a class="dropdown-item" href="#">Ugali</a></li>
            </ul>
           
          </li>
        </ul>
        <a href="{% url 'add'%}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
        <nav class="navbar bg-light">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </nav><br>
  <br> <br>
  <div class="container">
    <div class="col-md-9">
    <div class="row">
      <div class="col-md-4">
      
  <div class="card">
    <img src="/static/photos/1.jpg" class="images" alt="" style="height:10%; width:100%;">
    <div class="card-body">
      
      <small>Category:Tribe</small>
    </div>
    <a href="{% url 'galley' 1%}" class="btn btn-outline-dark btn-sm-m-1">View</a>
  </div>
  </div>
  <div class="col-md-4">
      
    <div class="card">
      <img src="/static/photos/1.jpg" class="images" alt="" >
      <div class="card-body">
        
        <small>Category:Tribe</small>
      </div>
      <a href="{% url 'galley' 1%}" class="btn btn-outline-dark btn-sm-m-1">Maasai</a>
    </div>
    </div>
    
  
  
      </div>
    </div>
  </div>

  
    

  
</body>
<br> <br>
<style>
    .card-footer h2{
    text-align: center;
    margin-top: 2vh;
    font-family: 'Grand Hotel', cursive;
    font-size:5vh;
    }
    .card-footer p{
        text-align: center;
        font-size: xx-small;
    }


</style>


<div class="card-footer text-muted">
  <h2>Cultural Galleria</h2>
  <p>Copyrights 2022</p>
</div>
</html>
